@page "/peliculas"

<PageTitle>Peliculas</PageTitle>

<h1>Peliculas que ví</h1>

<p>Agregar una pelicula</p>

<div class="campos">
    <label for="nombrePelicula">Pelicula:</label>
    <div class="col-md-4">
        <input id="nombrePelicula" type="text" class="form-control col-md-6" placeholder="Ingrese el nombre de la pelicula" />
    </div>
</div>

<div class="campos">
    <label for="clasificacion">Calificación:</label>
    <div class="col-md-4">
        <input id="clasificacion" type="number" class="form-control" min="1" max="5" placeholder="Ingrese una clasificación" />
    </div>
</div>

<button class="btn btn-primary">Agregar</button>
